// colors
$primary: #D4A373;
$white: white;
$white-100: #E5E5E5;
$white-300: #EFEFEF;
$black-100: black;
$black: #111111;

// screen sizes
$tablet: 1024px;
$mobile: 768px;
$mobileSmall: 440px;

// fonts
$sansopen: "Open Sans",
sans-serif;