@use "../settings/elements"as *;
@use "../settings/mixins"as *;
@use "../settings/variables"as *;


.signin {
    background-color: $white-300;
}

.signin--container {
    @extend .container;

    padding: 4rem 9rem;

    @include media($mobile) {
        padding: 2rem 1rem;
    }
}

.signin__title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    color: $black-100;
    line-height: 38px;
    margin-bottom: 4rem;

    @include media($mobile) {
        text-align: left;
        font-size: 1.25rem;
        line-height: 27px;
        margin-bottom: 2rem;
    }
}

.signin__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 39px;
    grid-row-gap: 10px;

    @include media($mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 1rem;
    }
}

.signin__formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.signin__formLabel {
    font-size: 0.875rem;
    font-weight: 700;
    color: $black-100;
    line-height: 25px;
    font-family: $sansopen;
    font-variation-settings: "wdth"75;
}


.signin__formInput {
    padding: 0.5rem;
    border: 1px solid #495057;
    font-size: 0.75rem;
    font-weight: 400;
    color: $black;
    height: 2.6rem;
    width: 100%;
}

.signin__formInput--textarea {
    height: 7.25rem;
}

.signin__formConsents {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: start;
    padding-top: 1.6rem;
    justify-content: space-between;

    @include media($mobile) {
        padding-top: 0rem;
        gap: 1rem;
    }
}

.signin__formCheckbox {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.signin__formLabel--consents {
    display: flex;
    align-items: center;
}

.signin__formSubmitButton {
    padding: 0.75rem 0.75rem;
    width: 65%;
    font-size: 0.875rem;
    font-weight: 700;
    color: $white;
    background-color: $primary;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
        opacity: 0.8;
    }

    @include media($mobile) {
        width: 100%;
    }
}

input[type="checkbox"][name^="consents"] {
    border: 1px solid #495057;
}

input[type="checkbox"][name^="consents"]:checked {
    position: relative;
}

input[type="checkbox"][name^="consents"]:checked::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    background-color: $primary;
    border: 1px solid #495057;
}